<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>unitDictionaries</key>
	<array>
		<dict>
			<key>color</key>
			<integer>-14637587</integer>
			<key>prototypeName</key>
			<string>Hull</string>
			<key>quaternion</key>
			<integer>2130706432</integer>
			<key>translationX</key>
			<real>0</real>
			<key>translationY</key>
			<real>5</real>
			<key>translationZ</key>
			<real>0</real>
		</dict>
		<dict>
			<key>color</key>
			<integer>-14637587</integer>
			<key>prototypeName</key>
			<string>Ballast</string>
			<key>quaternion</key>
			<integer>2130706432</integer>
			<key>translationX</key>
			<real>0</real>
			<key>translationY</key>
			<real>5</real>
			<key>translationZ</key>
			<real>-5</real>
		</dict>
		<dict>
			<key>color</key>
			<integer>-14637587</integer>
			<key>prototypeName</key>
			<string>Hull</string>
			<key>quaternion</key>
			<integer>2130706432</integer>
			<key>translationX</key>
			<real>0</real>
			<key>translationY</key>
			<real>5</real>
			<key>translationZ</key>
			<real>5</real>
		</dict>
	</array>
</dict>
</plist>
