<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>Battleship1.0.0</string>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>Battleship</key>
		<dict>
			<key>BSManagedShape</key>
			<data>
			2rq6IHroZ4haka7QRaDhvL9z0REEySZwnGqMB2IfeKA=
			</data>
			<key>BSManagedShip</key>
			<data>
			MNo90R+0JXmkkJhh4YE0Uq5bULnkJAm1vCFd955RBA8=
			</data>
			<key>BSManagedUnit</key>
			<data>
			CKx3NU8mOuJe4DXM6hpaIeuet2iFTALd9ASNhyNUzP8=
			</data>
			<key>BSMission</key>
			<data>
			FStdjLJij0vTrYBrlUCRxGBK9vZvyot0oqfCps8+nyA=
			</data>
			<key>BSPrototypeRudder</key>
			<data>
			+Pw0CcA27p+hBveXnsoElIoHtCRlX43nzNckYVyAmfY=
			</data>
			<key>BSPrototypeScrew</key>
			<data>
			lkXtSAMOlWGiydfJYRQybHQXk/6CUw+1r+7crzNYjZA=
			</data>
			<key>BSPrototypeUnit</key>
			<data>
			YUszwhvOEedkJLBj+h6hz7qWFud/Hv0BC3DSS+EfcMc=
			</data>
			<key>BSPrototypeWeapon</key>
			<data>
			95Pzi/1Zm6najGPSbkwaV1XYbVd0rRg9OA7J7s+4LZY=
			</data>
		</dict>
		<key>Battleship1.0</key>
		<dict>
			<key>BSManagedShape</key>
			<data>
			2rq6IHroZ4haka7QRaDhvL9z0REEySZwnGqMB2IfeKA=
			</data>
			<key>BSManagedShip</key>
			<data>
			MNo90R+0JXmkkJhh4YE0Uq5bULnkJAm1vCFd955RBA8=
			</data>
			<key>BSManagedUnit</key>
			<data>
			CKx3NU8mOuJe4DXM6hpaIeuet2iFTALd9ASNhyNUzP8=
			</data>
			<key>BSMission</key>
			<data>
			HFoZG8zKxeLWviBRaqhhZLosxlwOy3En1yNAcbEKTmY=
			</data>
			<key>BSPrototypeRudder</key>
			<data>
			+Pw0CcA27p+hBveXnsoElIoHtCRlX43nzNckYVyAmfY=
			</data>
			<key>BSPrototypeScrew</key>
			<data>
			lkXtSAMOlWGiydfJYRQybHQXk/6CUw+1r+7crzNYjZA=
			</data>
			<key>BSPrototypeUnit</key>
			<data>
			YUszwhvOEedkJLBj+h6hz7qWFud/Hv0BC3DSS+EfcMc=
			</data>
			<key>BSPrototypeWeapon</key>
			<data>
			NmJO56mrmEp/atxe75YvEKuvbbfgJbKWVWiFK02Bvts=
			</data>
		</dict>
		<key>Battleship1.0.0</key>
		<dict>
			<key>BSManagedShape</key>
			<data>
			dbD4WiCC0myeq7eHLbsvh6cyXu3ffgKCjeWlJCaMlZM=
			</data>
			<key>BSManagedShip</key>
			<data>
			mJSDEtBnRkpCVorgSRnFdoe1lzCdH9CD5hYzVbIp2LM=
			</data>
			<key>BSManagedUnit</key>
			<data>
			CKx3NU8mOuJe4DXM6hpaIeuet2iFTALd9ASNhyNUzP8=
			</data>
			<key>BSMission</key>
			<data>
			HFoZG8zKxeLWviBRaqhhZLosxlwOy3En1yNAcbEKTmY=
			</data>
			<key>BSPrototypeRudder</key>
			<data>
			Jq7gidkWw4uB6cCiKb3wIwoWVn7Nv/rET2GHKzkt7xU=
			</data>
			<key>BSPrototypeScrew</key>
			<data>
			la10lDHbn6fftBchuTzrh66LZ6t7+V65jTREZV/5fno=
			</data>
			<key>BSPrototypeUnit</key>
			<data>
			poR/6awDsKev/iVz64Yh5WhuDVlheZfEPFYi9duEibc=
			</data>
			<key>BSPrototypeWeapon</key>
			<data>
			WqTMbde1hXRT/vhpo78FRW6uW8OWqWXFdODSVwO2GAI=
			</data>
		</dict>
	</dict>
</dict>
</plist>
